<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="l-content ">
    <div class="widget fullpage--widget">
      <div class="table table--striped">


        <table>
          <thead>
            <tr class="thead no--border">
              <th class="text-left">Comments</th>

              <th class="text-center">Tags</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              <td class="text-center">

                <ul class="tags tags--ds ui-sortable">



                  <li class="tags__item">
                    <p>Verb</p> <span class="close__item"><i class="fal fa-times"></i></span>
                  </li>

                  <li class="tags__item">
                    <p>Verb</p> <span class="close__item"><i class="fal fa-times"></i></span>
                  </li>
                </ul>

              </td>

              <td class="text-center">
                <a class="btn">Update</a>
              </td>

            </tr>


            <tr class="">
              <td class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              <td class="text-center">

                <div class="tags"><ul class="tags tags--ds ui-sortable">



                  <li class="tags__item">
                    <p>Verb</p> <span class="close__item"><i class="fal fa-times"></i></span>
                  </li>

                  <li class="tags__item">
                    <p>Verb</p> <span class="close__item"><i class="fal fa-times"></i></span>
                  </li>
                </ul></div>

              </td>
              <td class="text-center">
                <a class="btn">Update</a>
              </td>

            </tr>


            <tr class="">
              <td class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              <td class="text-center">

                <div class="tags"><ul class="tags tags--ds ui-sortable">



                  <li class="tags__item">
                    <p>Verb</p> <span class="close__item"><i class="fal fa-times"></i></span>
                  </li>

                  <li class="tags__item">
                    <p>Verb</p> <span class="close__item"><i class="fal fa-times"></i></span>
                  </li>
                </ul></div>

              </td>
              <td class="text-center">
                <a class="btn">Update</a>
              </td>

            </tr>  <tr class="">
              <td class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              <td class="text-center">

                <div class="tags"><ul class="tags tags--ds ui-sortable">



                  <li class="tags__item">
                    <p>Verb</p> <span class="close__item"><i class="fal fa-times"></i></span>
                  </li>

                  <li class="tags__item">
                    <p>Verb</p> <span class="close__item"><i class="fal fa-times"></i></span>
                  </li>
                </ul></div>

              </td>
              <td class="text-center">
                <a class="btn">Update</a>
              </td>

            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>



<router-outlet></router-outlet>
