<!--The content below is only a placeholder and can be replaced.-->
<div class="container">



  <div class="l-content ">
    <header class="header">

      <div class="logo l-logo">
        <a href="index.html"><img src="assets/build/assets/images/logo.png"></a>
      </div>
      <!-- /.logo -->


    </header>
    <div class="widget fullpage--widget">
      <div class="form-container form--toprightradius form--padding form--grey">

        <div class="form-row">
            <div class="form-column four">
                <div class="form-label">
                  Choose File
                </div>
                <div class="form-field">
                  <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file"
                  accept=".xlsx">
                </div>
            </div>

        </div>

        <div class="form-row">
            <div class="form-column eight">

                <div class="form-control">
                  <button type="button" class="btn btn-info" (click)="Upload()">Upload</button>
                  <button type="button" class="btn btn-info" (click)="Export(table)">Export</button>
                </div>
            </div>
        </div>



    </div>
      <div class="table table--striped">
        <div class="form-group">


        </div>

        <table id="tableToExport">
          <thead>
            <tr class="thead">
              <th class="text-left nw">Comment Id </th>
              <th class="text-left">Comments</th>

              <th class="text-center">Tags</th>
              <th class="text-center nw">Action</th>
            </tr>
          </thead>
          <tbody #table>


            <ng-container *ngIf="FileUploaded">
              <tr class="" *ngFor="let row of this.fileJson; let ind=index">
                <td class="text-left nw">{{row.CommentId}}</td>
                <td class="text-left" (click)="setIndex(ind)">{{row.Comment}}</td>
                <td class="text-center">

                  <div class="tags">
                    <ul class="tags tags--ds ui-sortable" #forAddingTag>
                      <ng-container *ngFor="let tag of this.tagsArray[ind]">
                        <li #ToRemoveTag class="tags__item" >
                          <p>{{tag}}</p> <span class="close__item"><i class="fal fa-times"
                              (click)="removeTag(ind, ToRemoveTag)"></i></span>
                        </li>
                      </ng-container>

                    </ul>
                  </div>

                </td>
                <td class="text-center nw actions">
                  <a class="btn" (mousedown)="AddTag(ind)">Update</a>
                  <a class="btn btn--cancel" (click)="clearTopics(ind)">Clear</a>
                </td>

              </tr>

            </ng-container>

          </tbody>
        </table>



        <table id="testingTable" *ngIf="ExportData" style="display: none;">
          <thead>
            <tr class="thead no--border">
              <th class="text-left">CommentId</th>

              <th class="text-center">Comment</th>
              <ng-container *ngFor="let topic of this.tagsArray[this.maxLengthTopic];let i = index">
                <th class="text-center">Topic{{i}}</th>
              </ng-container>

            </tr>
          </thead>
          <tbody>


            <ng-container *ngFor="let row of this.ExportData.children; let i = index">
              <tr class="">
                <td class="text-left">{{i+1}}</td>
                <td class="text-left">{{row.children[1].innerText}}</td>
                <ng-container *ngFor="let item of row.children[2].innerText.replace(re, '|').split('||')">
                  <td class="text-left">


                         {{item}}




                  </td>
                </ng-container>


              </tr>
            </ng-container>




          </tbody>
        </table>
        <footer>
          <ul class="pagination">
            <li><a href="#" class="prev">
            <i class="fa fa-chevron-left"></i>
            Previous
            </a>
            </li>
            <li><a href="#">1</a></li>
            <li> <a href="#">2</a></li>
            <li> <a href="#">3</a></li>
            <li> <a href="#">4</a></li>
            <li> <a href="#" class="active">5</a></li>
            <li> <a href="#">6</a></li>
            <li> <a href="#">7</a></li>
            <li><a href="#" class="next"> Next
            <i class="fa fa-chevron-right"></i>
            </a></li>
            </ul>
        </footer>

      </div>
    </div>
  </div>



</div>



<router-outlet></router-outlet>
