<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="l-content ">
    <div class="widget fullpage--widget">
      <div class="table table--striped">
        <div class="form-group">
          <label for="file">Choose File</label>
          <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file"
            accept=".xlsx">
        </div>
        <button type="button" class="btn btn-info" (click)="Upload()">Upload</button>
        <button type="button" class="btn btn-info" (click)="Export()">Export</button>
        <table id="tableToExport">
          <thead>
            <tr class="thead no--border">
              <th class="text-left">Comments</th>

              <th class="text-center">Tags</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            

            <ng-container *ngIf="FileUploaded">
              <tr class="" *ngFor="let row of this.fileJson">
                <td class="text-left">{{row.Comment}}</td>
                <td class="text-center">

                  <div class="tags">
                    <ul class="tags tags--ds ui-sortable">
                      <ng-container *ngFor="let key of this.Object.keys(row)">
                      <li #ToRemoveTag class="tags__item" *ngIf="key.substring(0,5)=='Topic'">
                        <p>{{row[key]}}</p> <span class="close__item"><i class="fal fa-times" (click)="removeTag(ToRemoveTag)"></i></span>
                      </li>
                    </ng-container>
                   
                    </ul>
                  </div>

                </td>
                <td class="text-center">
                  <a class="btn">Update</a>
                </td>

              </tr>

            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>



<router-outlet></router-outlet>