.filter {
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  margin-top: 10px;
  @include border-radius(3px);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: $white;

  &.fixed {
    //  top:39px;
    top: 70px;
    z-index: map-get($zindex, filter-fix);
    left: 55px;
    margin: 0;
    padding: 0 15px;
    width: calc(100% - 55px);
    position: fixed;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    //border-top: 1px solid #ebebeb;
    @include transition(all 0.3s ease);

    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      //  display: none;
      position: static;
      width: 100%;
      padding: 0;
      margin-top: 10px;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 20;
      top: 31px;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background: #ebebeb;
      @include susy-breakpoint(1024px, $susy, ".no-mq") {
        display: none;
      }
    }

    .filter__label {
      display: none;
    }
  }

  .filter__label {
    background: #f4f5f7;
    padding: 8px 10px;
    font-size: 13px;
    color: #666666;
    // display: none;
    font-weight: 500;
    border-bottom: 1px solid #ebebeb;
  }

  > ul {
    display: flex;
    position: relative;
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      flex-direction: column;
    }
  }
  &.filter--disabled {
    @include opacity(0.5);
  }
  .filter__item {
    border-left: 1px solid #ebebeb;
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      border-left: none;
      border-top: 1px solid #ebebeb;
      flex: 1 1 auto !important;
    }
    &:first-child {
      border-left: none;
      border-top: none;

      .filter__label {
        border-radius: 3px 0 0 0;
      }
    }

    &:last-child {
      .filter__label {
        border-radius: 0 3px 0 0;
      }
    }

    &.flex1 {
      flex: 1;
    }

    &.flex2 {
      flex: 2;
    }

    &.flex3 {
      flex: 3;
    }

    &.flex4 {
      flex: 4;
    }

    .btn {
      @include susy-breakpoint(1024px, $susy, ".no-mq") {
        display: block;
      }
    }
  }
}

.filter-dropdown {
  position: absolute;
  background: $white;
  width: 100%;
  box-shadow: 0px 17px 38px 0px rgba(0, 0, 0, 0.21);
  top: 48px;
  padding: 10px;
  text-align: left;
  left: 0;
  min-height: 200px;
  z-index: map-get($zindex, dropdown);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  @include transition();
  border-radius: 0 0 3px 3px;
  .category-field & {
    top:33px;
  }
  &.full--dropdown {
    padding: 0;
  }

  .fixed & {
    top: 47px;
  }

  .filter--hierarchy & {
    top: 80px;
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      //  top:37px;
    }
  }

  .dropdown__footer {
    float: left;
    width: 100%;
    text-align: right;
    clear: both;
    background: #f4f5f9;
    padding: 10px;
    border-top: 1px solid #ebebeb;
    border-radius: 0 0 3px 3px;
  }
  &.active,
  &.categorydropdown--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  @include susy-breakpoint(1024px, $susy, ".no-mq") {
    width: 100%;
    top: 50px;
    max-width: 100%;
  }
  &.dropdown--crs {
    width: 237px;
    min-height: 130px;
    padding: 10px 0;
  }
  .loader-overlay {
    position: absolute;
  }

  &.dropdown--brand {
    border: 0;
    width: 130px;
    max-width: 200px;
    left: auto;
    min-height: 50px;
    right: 2px;
    padding: 5px 0;
    box-shadow: 0px 0px 30px 0px rgba(119, 119, 119, 0.35);
    @include arrow("top", "right", 10px, $white, #eee, 1px);
    &:before {
      right: 20px;
    }
    &:after {
      right: 21px;
    }
  }
  &.dropdown--template {
    border: 1px solid #d6dade;
    width: 100.5%;
    left: -1px;
    min-height: auto;
    top: 34px;
    padding: 10px 5px;
    box-shadow: 0px 20px 30px 0px rgba(119, 119, 119, 0.2);
    @include border-radius-separate(0, 0, 5, 5);
  }
  &.dropdown--panel {
    border: 0;
    width: 300px;
    min-height: auto;
    left: 5px;
    top: 50px;
    padding: 10px 0;
    box-shadow: 0px 0px 30px 0px rgba(119, 119, 119, 0.35);
    @include arrow("top", "left", 10px, $white, #eee, 1px);
    &:before {
      left: 20px;
    }
    &:after {
      left: 21px;
    }
  }
  &.dropdown--language {
    min-height: auto;
    padding: 0;
  }
  &.dropdown--survey {
    padding: 0;
    min-height: auto;
  }
  &.dropdown--allmodels {
    width:450px;
    padding: 0;

    .filter-by &{
      top: 39px;
    }

    min-height: 300px;
    &.models--rg {
      left: auto;
      right: 0;
      .custom-checkbox {
        position: absolute;
        z-index: 1;
        top: 4px;
        left: 5px;
      }
    }
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      width: 100%;
    }
  }
  &.dropdown--hierarchy {
    //width: 275px;
    &.hierarchy--big {
      padding: 0;

      .mCSB_scrollTools.mCSB_scrollTools_horizontal {
        bottom: 0;
        right: 10px;
      }
      .mCustomScrollbar {
        padding: 0 0 13px 0;
      }
      .mCSB_scrollTools.mCSB_scrollTools_vertical {
        top: 5px;
        bottom: 5px;
        right: 0;
      }

      .top-control {
        padding: 10px;
        text-align: right;
        border-bottom: 1px solid #f3f3f3;
        a {
          font-size: 12px;
        }
      }
    }
    &.hierarchy--single {
      //width: 500px;
      padding: 0;
      .col-right {
        display: none;
      }
      &.with--suggetions {
        width: 500px;
        .col-right {
          display: block;
        }
        .col-left,
        .col-right {
          @include span(6 no-gutters);
        }
      }
      .col-left {
        border-right: 1px solid #e5e5e5;
        .hierarchy__list {
          display: block;
        }
      }
      .hierarchy-breadcrumbs {
        background: #f1f6f9;
        box-shadow: none;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 0;
        position: relative;
        li {
          a {
            color: #4c6377;
          }
        }
      }
      .hierarchy__list {
        padding: 10px;
        width: 100%;
        border: 0;
      }
      .hierarchy__control {
        padding: 12px;
        margin-top: 0;
        a {
          display: block;
        }
      }
    }
    &.hierarchy--search {
      padding: 10px 0 0;
    }
  }
  &.dropdown--calendar {
    width: 532px;
    right: 0;
    left: auto;
    padding: 0;
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      width: 100%;
    }
    &.calendar--single {
      width: 300px;
      top: 35px;
      .date-calendar {
        width: 100%;
      }
    }
  }

  &.calendar--custom {
    width: 720px;
    .date-filters {
      width: 27%;
      @include susy-breakpoint(786px, $susy, ".no-mq") {
        width: 100%;
      }
    }

    .date__calendar {
      float: left;
      width: 50%;
      @include susy-breakpoint(786px, $susy, ".no-mq") {
        width: 100%;
        // height: auto;
      }
    }
  }
}

.filter-field {
  float: left;
  position: relative;
  //  padding: 6px 10px;
  padding: 0;
  width: 100%;
  /*  @include susy-breakpoint(1024px, $susy, ".no-mq") {
    padding-top: 2px;
    padding-bottom: 2px;
  }*/
  .filter__trigger {
    padding: 15px 20px 15px 30px;
    cursor: pointer;
    float: left;
    width: 100%;
    position: relative;
    > i {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -9px;
      font-size: 15px;
      color: #d3d5d8;
      // @include opacity(0.5);
      &.fa-search {
        margin-top: -8px;
      }
    }

    &.trigger--static {
      cursor: defaultface;
    }
  }
  .field__flag {
    display: inline-block;
    position: relative;
    top: -2px;
  }

  &.filter--language {
    width: 253px;
    background: $white;
    float: none;
    margin: 0 auto;
    .field__label {
      @include opacity(0.6);
      //opacity: 0.6;
    }
  }
  &.filter--model {
    .filter__trigger {
      padding-left: 10px;
    }
  }

  &.filter--all {
    .filter__trigger {
      padding-left: 10px;
    }
  }
  &.filter--noicon {
    .filter__trigger {
      padding-left: 10px;
    }
  }
  &.filter--search {
    width: 235px;
    .icon-search {
    }
  }
  &.filter--hierarchy {
    width: 100%;
    border-radius: 3px 0 0 3px;
    position: static;

    input {
      background: transparent;
      border: 0;
      width: 85%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      // height: 14px;
      padding: 0;
      font-family: inherit;
      font-weight: 400;

      &:focus {
        box-shadow: none;
      }
      &::placeholder {
        color: #666;
      }
      &:-ms-input-placeholder {
        color: #666;
      }
    }
    &.active {
      input {
        //  width: 180px;
      }
    }
    .icon-search {
      position: relative;
      top: 1px;
    }
  }
  &.hierarchy--right {
    .filter-dropdown {
      left: auto;
      right: -1px;
    }
  }
  &.hierarchy--withcal {
    .filter-dropdown {
      left: auto;
      right: -323px;
    }
  }
  &.filter--calendar {
    width: 100%;

    .icon-calendar {
    }
  }
  &.filter--save {
    width: 333px;
    background: $white;
    input {
      background: transparent;
      border: 0;
      width: 180px;
    }
    .icon-save {
      top: 3px;
      position: relative;
      &:before {
        font-size: 16px;
      }
    }
  }
  .field__label {
    float: left;
    width: 100%;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    span {
      //display: inline-block;
    }
    .to {
      opacity: 0.5;
      margin: 0 2px;
    }
  }
  .field__icons {
    position: absolute;
    right: 5px;
    top: 17px;
    > i {
      font-size: 18px;
      line-height: 19px;
      margin-left: 5px;
      cursor: pointer;
      color: #b3b3b3;
      &.fa-angle-down {
        font-size: 18px;
        right: 10px;
        line-height: 14px;
        position: relative;
      }
    }
    .icons__active {
      width: 23px;
      height: 23px;
      font-size: 12px;
      display: none;
      border-radius: 50%;
      text-align: center;
      padding: 0;
      line-height: 23px;
      color: #fff;
      position: relative;
      top: -4px;
      background: #fe6e6e;
      margin: 0 0 0 3px;
      &.icon--ok {
        background: #5ee2a0;
      }
      .icon {
        margin: 0;
      }
    }
  }
  &.active {
    background: #f3f6f9;
    .fa-angle-down {
      display: none;
    }
    .icons__active {
      display: inline-block;
    }
  }
  &.last--visited {
    background: #feeed8;
  }
  @include susy-breakpoint(1024px, $susy, ".no-mq") {
    width: 100% !important;
  }
}

//filter overlay
.filter-overlay {
  background-color: #415a68;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0.4;
  top: 0;
  //z-index: 5;
  z-index: map-get($zindex, filter);
}

//filter hierarchy

.hierarchy-breadcrumbs {
  border-bottom: 1px solid #ebebeb;
  padding: 12px;
  min-height: 40px;
  .breadcrumbs_list {
    li {
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
      color: $clr-pri;
      &:first-child {
        &:before {
          display: none;
        }
      }
      &:before {
        content: "\f105";
        font-family: "Font Awesome 5 Pro";
        font-size: 12px;
        position: relative;
        font-weight: 500;
        display: inline-block;
        margin: 0 10px;
      }
      &.active {
        a {
          color: #666;
        }
      }
    }
  }
}
.hierarchy-scroll {
  overflow-x: auto;
  width: 100%;
}
.hierarchy {
  display: table;
  //width: 100%;
  //table-layout: fixed;
  //  max-width: 100%;
  @include susy-breakpoint(1024px, $susy, ".no-mq") {
    width: 100%;
  }
}

.hierarchy__list {
  width: 280px;
  //padding: 0 5px 5px 0;
  min-width: 240px;
  display: table-cell;
  vertical-align: top;
  @include transition();
  border-right: 1px solid #ebebeb;

  @include susy-breakpoint(1024px, $susy, ".no-mq") {
    width: 100%;
    display: none;
  }
  &:last-child {
    // width: auto;
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      width: 100%;
      display: block;
      border-right: 0;
    }
  }
  &.with--checkbox {
    li {
      position: relative;
      .custom-checkbox {
        position: absolute;
        z-index: 1;
        left: 10px;
        top: 2px;
      }
      a {
        padding-left: 40px;
      }
    }
  }
  ul {
    height: 223px;
    overflow-y: auto;

    li {
      display: block;
      a {
        display: block;
        padding: 12px 15px;
        font-size: 13px;
        border-bottom: 1px solid #ebebeb;
        position: relative;
        color: #b3b3b3;
        cursor: pointer;
        font-weight: 500;
        &:before {
          content: "\f105";
          font-family: "Font Awesome 5 Pro";
          position: absolute;
          right: 10px;
          color: #b8b8b8;
          font-size: 15px;
          top: 50%;
          margin: -7px 0 0 0;
        }
        &:hover {
          color: #666666;
          // background: #f3f6f9;
          &:before {
            color: #666666;
          }
        }
      }
      &.active {
        a {
          color: #666666;
          background: #f3f6f9;
          &:before {
            color: #666666;
          }
        }
      }
      &.no--child {
        a {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

//
.date-calendar {
  float: right;
  width: 70%;
  padding: 20px;
  @include susy-breakpoint(786px, $susy, ".no-mq") {
    width: 100%;
    padding: 10px;
  }
}

.date-filters {
  float: left;
  width: 30%;
  border-right: 1px solid #e5e5e5;
  padding: 20px 0;
  @include susy-breakpoint(786px, $susy, ".no-mq") {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  ul {
    display: block;
    width: 100%;
  }
  li {
    display: block;
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    color: #b3b3b3;
    @include susy-breakpoint(786px, $susy, ".no-mq") {
      border-radius: 3px;
      padding:0;
      display: inline-block;
    }
    a {
      display: block;
      padding: 10px 15px;
      cursor: pointer;
      color: #b3b3b3;
      &:hover {
        color: #666666;
      }
    }
    &.active {
      background: #f3f6f9;
      a {
        color: #666666;
      }
    }
  }
}

//models list
.model-column {
  @include span(6 no-gutters);
  border-right: 1px solid #ebebeb;
  .model-search {
    width: 100%;
    height: 60px;
    padding: 15px;
    background: #fcfcfc;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    .search__icon {
      position: absolute;
      right: 19px;
      top: 50%;
      margin-top: -10px;
      padding: 5px 10px;
      border-radius: 3px;
      background: $clr-pri;
      &:before {
        color: $white;
        font-size: 12px;
      }
    }
    .search__field {
      width: 100%;
      border: 1px solid #d0d7dd;
      background: $white;
      padding: 7px 40px 7px 10px;
      border-radius: 4px;
      &:focus {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.25);
        -moz-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.25);
        box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.25);
      }
    }
    @include placeholder {
      font-size: 13px;
      font-weight: 500;
      color: #b3b3b3;
    }
  }
  .model__title {
    font-size: 13px;
    display: block;
    font-weight: 400;
    padding: 15px;
    color: #666666;
    span {
      color: #969dab;
    }
  }
  .model__list {
    height: 164px;
    padding-bottom: 8px;
    overflow-x: auto;

    .mCSB_scrollTools.mCSB_scrollTools_vertical {
      //  top: 5px;
      //   bottom: 5px;
      right: 0;
    }

    li {
      display: block;
      position: relative;
      &:first-child {
        border: 0;
      }
      a {
        display: block;
        padding: 12px 15px;
        font-size: 13px;
        font-weight: 500;
        position: relative;
        border-bottom: 1px solid #ebebeb;
        color: #b3b3b3;
        cursor: pointer;
        &:hover {
          // color: $clr-blue;
          color: #666666;
          // background: #f3f6f9;
        }
      }
      &.active {
        a {
          background-color: #f3f6f9;
          color: #666666;
          //color: ;
        }
      }
      &:before {
        content: "\f105";
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 10px;
        font-size: 16px;
        z-index: 1;
        color: #9aa6b2;
        top: 50%;
        margin-top: -8px;
      }
    }
    &.all__models {
      li {
        &:before {
          display: none;
        }
      }
    }
  }
}

.filter__list {
  ul {
    li {
      display: block;
      a {
        display: block;
        padding: 12px 15px;
        font-size: 13px;
        border-bottom: 1px solid #ebebeb;
        position: relative;
        color: #b3b3b3;
        cursor: pointer;
        font-weight: 500;

        &:hover {
          color: #666666;
          background: none;
        }
      }
      &.active {
        a {
          color: #666666;
          background: #f3f6f9;
        }
      }
    }
  }
}

//search filter

.search-breadcrumbs {
  ul {
    max-height: 250px;
    min-height: 250px;
    overflow-x: auto;
  }
  li {
    border-bottom: 1px solid #e3e3e3;

    a {
      display: inline-block;
      font-size: 12px;
      padding: 10px;
      margin-right: 5px;
      position: relative;
      font-weight: 500;
      text-decoration: none;
      &:before {
        font-family: "Font Awesome 5 Pro";
        display: inline-block;
        color: #8495a9;
        content: "\f054";
        position: absolute;
        left: -5px;
        top: 12px;
        font-size: 10px;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }

    &:hover {
      a {
        color: #666;
      }
      color: #666;
      background: #f3f6f9;
      cursor: pointer;
    }
  }
}

.filter-save {
  position: relative;
  border-radius: 3px;
  width: 300px;
  max-width: 100%;
  float: left;
  padding: 8px 10px 8px 10px;
  border: 1px solid #ebebeb;

  .filter__label {
    font-size: 14px;
    color: #666666;
  }

  .filter__action {
    // background:$clr-pri;
    position: absolute;
    right: 0;
    //  color:$white;
    top: 0;
    color: #b3b3b3;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 0 3px 3px 0;

    a {
      margin: 0 3px;
      color: #b3b3b3;
      &:hover,
      &:active {
        color: #666;
      }
    }
  }
}

.widget__hierarchy {
  display: flex;
  position: relative;
  background: #f5f6f7;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  align-items: center;
  justify-content: center;
  padding: 10px;
  clear: both;
  border-radius: 3px 3px 0 0;
  .filter-dropdown & {
    // top: 35px;
  }
  @include susy-breakpoint(1024px, $susy, ".no-mq") {
    flex-direction: column;
    //padding: 10px;
  }


  .filter-item {
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      padding: 10px;
      float: left;
      width: 100%;
      text-align: center;
    }
  }


}



.category-field {
  width: 300px;
  @include susy-breakpoint(1024px, $susy, ".no-mq") {
    width: 100%;
  }

  background: $white;
  .filter__trigger {
    padding: 8px 30px 8px 10px;
    border: 1px solid #d6dade;
    text-align:left;
    border-radius: 3px;
  }
  .field__label {
    font-size: 12px;
  }
  .field__icons {
    top: 9px;
  }
}


.widget__hierarchy__list {
  width: 100%;

  li {
    width: 100%;
    @include transition();
    display: block;
    a {
      display: block;
      padding: 12px 15px;
      font-size: 13px;
      border-bottom: 1px solid #ebebeb;
      position: relative;
      color: #b3b3b3;
      cursor: pointer;
      font-weight: 500;
      &:before {
        content: "\f105";
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 10px;
        color: #b8b8b8;
        font-size: 15px;
        top: 50%;
        margin: -7px 0 0 0;
      }
      &:hover {
        color: #666666;
        // background: #f3f6f9;
        &:before {
          color: #666666;
        }
      }
    }
    &.active {
      a {
        color: #666666;
        background: #f3f6f9;
        &:before {
          color: #666666;
        }
      }
    }
    &.no--child {
      a {
        &:before {
          display: none;
        }
      }
    }
  }
}
