/*
//tooltip
.ui-tooltip {
  background: $white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.57);
  position: absolute;
  width: 248px;
  z-index: 27;
  border-radius: 3px;

}

.ui-tooltip-content {
  position: relative;
  font-size: 12px;
  padding: 10px;
  max-height:150px;
  overflow-y: auto;
  line-height: 18px;
  // @include arrow('bottom', 'left', 8px, #f0f1f2);
  // @include arrow('bottom', 'left', 8px, #f0f1f2, #dddddd, 1px)
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

*/
