//multiple
.widget--multiplehotalerts {

  .widget--hotalertsefficiency {
    @include span(6 no-gutter);
    @include susy-breakpoint(1024px, $susy, '.no-mq') {
      @include span(12);
    }
    .widget__graph {
      border-right: 1px solid #e9ebee;
    }

    .widget__content {
      position: relative;
      padding: 0;
      min-height: 300px;
    }
  }

  .widget--totalhotalerts {
    @include span(6 no-gutter);
    @include susy-breakpoint(1024px, $susy, '.no-mq') {
      @include span(12);
    }

    .widget__content {
      @include clearfix();
      padding: 0 15px;
    }

    .widget__graph {
      @include span(6);
      padding-top: emify(30, 10);
      @include susy-breakpoint(768px, $susy, '.no-mq') {
        @include span(12);
      }
    }

    .widget__counts {
      @include span(6);
      @include susy-breakpoint(768px, $susy, '.no-mq') {
        @include span(12);
      }

      &.top--space {
        margin-top: 40px;
        @include susy-breakpoint(768px, $susy, '.no-mq') {
          margin-top: 0px;
        }
      }
    }

    .counts__list {
      //padding-top: emify(20,10);
      // height: 210px;
      // overflow-y: auto;
      li {
        display: block;
        padding: emify(4, 10) 0;
        @include susy-breakpoint(768px, $susy, '.no-mq') {
          float: left;
          width: 50%;
          padding: 1.7em 0;
        }

      }

      .count {
        font-size: emify(30, 10);
        //font-weight:300;
        font-weight: normal;

        small {
          font-size: emify(4, 10);
          color: #a1a5a9;
        }

      }

      label {
        display: block;
        font-size: emify(13, 10);
        color: $clr-blue;
        //test
      }
    }

    &.widget--scount {
      .widget__graph {
        padding: 0;
      }

      .widget__content {
        padding: emify(70, 10) emify(5, 10) 0;
      }
    }

  }

}

.clr-navyBlue {
  color: #54657e !important;
}

.clr-lightBlue {
  color: #3498db !important;
}

