// Base styles here
$bg-body: #e9ecef;
$clr-body: #666;
body {
  background-color: $bg-body;
  color: $clr-body;
  font-family: $font-pri;
  font-size:12px;
}

a {
  color: $clr-pri;
  @extend %transition;

  &:hover {
    color: $clr-pri;
  }

  &.with--icon{
    i{
      margin-right: 5px;
    }
  }

  &.link{
    color:$clr-blue;
  }
}

input[type="text"] {
  border: 1px solid $clr-graylighter;
  //&:focus::placeholder{
  //  color:red;
  //}
}

select {
  outline: none;
}

textarea {
  border: 1px solid $clr-graylighter;
}

textarea {
  resize: none;
}

.clr-red {
  color: $clr-red !important;

  a {
    color: $clr-red;
  }
}

.clr-pink {
  color: $clr-red !important;

  a {
    color: $clr-red;
  }
}

.clr-green {
  color: $clr-green !important;
  a {
    color: $clr-green;
  }
}

.clr-amber {
  color: $clr-amber !important;

  a {
    color: $clr-amber;
  }
}


.clr-orange {
  color: $clr-amber !important;

  a {
    color: $clr-amber;
  }
}

.clr-blue{
  color:$clr-blue !important;
}

.clr-gray {
  color: $clr-gray !important;

  a {
    color: $clr-gray;
  }
}

.clr-google{
  color: #ea4335 !important;
}

.clr-green-background{
  background: $clr-green !important;
}

.clr-red-background{
  background: $clr-red !important;
}

.clr-amber-background{
  background: $clr-amber !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.hidden-desktop {
  display: none;
}

@include susy-breakpoint(1000px, 12) {
  .hidden-desktop {
    display: block;
  }
}

@include susy-breakpoint(768px, 12) {
}

@include susy-breakpoint(480px, 12) {
}

.hide {
  display: none !important;
}


.noMobile{
  @include susy-breakpoint(1024px, $susy, ".no-mq") {
    display: none !important;
  }
}

.right {
  float: right;
}

.list-inline {
  li {
    display: inline-block;
    margin-left: 10px;
    float: left;
  }

}

//field disabled

input[type="text"]:disabled,
.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group > .disabled {
  background: #f8f9fa;
}

.showprint {
  display: none !important;
}

.clear-both{
  //clear: both;
  @include clearfix();
}

.full--width{
float: left;
width: 100%;
}


.padding-20{
  padding: 20px;
}


.custom-highchart-tooltip {

  .highcharts-tooltip > span {
    padding: 8px;
    background-color: rgba(255, 255, 255, 1);
    background-color: white \9
  ; /* < IE11 */
    //  border: 1px solid #a8a7a5;
    z-index: 9999 !important;
  }

}
