$header-border: #d6dbdf;
$user-color: #4c5e70;
.header {
  float: left;
  width: 100%;
  padding: 20px 0;
  @include transition();

  h2 {
    float: right;
    font-weight: normal;
    line-height: 32px;
    font-size: 20px;
    color: #212229;
  }
}

.logo {
  float: left;
  height: 100%;
  text-align: center;

  a {
    outline: none;
  }

}

// .nav {
//   float: right;
//   li {
//     display: inline-block;
//   }
// }
