// Variables:
$color--text: #546a79;
$color--border: #e1e1e1;
$radius: 2px;
$field-border: #d6dade;
$clr-error: #e74c3c;
body,
html {
  height: 100%;
}

.body--login {
  background: #fff;
  // background-size:auto 110%;
  // background-position:right center;
  @include susy-breakpoint(1024px, $susy, ".no-mq") {
    //  background-image: none;
  }
}

::-ms-clear {
  display: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.login {
  display: table;
  width: 100%;
  height: 100%;
  // padding: 0 10%;
  table-layout: fixed;
  // @include susy-breakpoint(1024px, $susy, ".no-mq") {
  //   width: 100%;
  //   padding: 0 5%;
  // }

  .logo {
    padding: 10px 0 30px;
    text-align: left;
    display: none;
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
     display: block;
    }
  }

  .login__header {
    padding: 0 0 20px;
    color: #34495e;
    float: left;
    width: 100%;
    h3 {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
    }
  }
  .forgot__password {
    margin: 10px 0;
    float: left;
    width: 100%;
    text-align: right;
    a {
      color: #546a79;
      font-size: 13px;
      &:hover {
        color: $clr-pri;
      }
    }
    .forgot-link {
      float: right;
      margin-top: 10px;
    }
  }
  .login__footer {
    float: left;
    width: 100%;
    margin-top: 10px;
    .forgot-link {
      float: right;
      margin-top: 10px;
    }
  }
  .form-column {
    padding: 0;

    &.twelve {
      padding: 0;
    }
    .form-label {
      text-transform: uppercase;
      color: #a6afb6;
      font-size: 13px;
    }
    .form-field {
      input[type="text"],
      input[type="password"] {
        border: 0;
        border-radius: 0;
        padding: 5px 0 3px;
        font-size: 20px;
        color: #34495e;
        border-bottom: 2px solid #d6dade;
        /* Change the white to any color ;) */
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px white inset !important;
          -webkit-text-fill-color: #34495e !important;
          font-size: 20px;
        }
        &::placeholder {
          color: #969dab;
          font-size: 13px;
        }
        &:focus {
          border-color: $clr-pri;
          box-shadow: none;
        }
      }
      .field__icon {
        position: absolute;
        top: 6px;
        right: 10px;
        color: $clr-pri;
        font-size: 18px;
      }
    }
  }
  .col-left {
    display: table-cell;
    width: 50%;
    height: 100%;
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      width: 100%;
    }
  }

  .col-right {
    display: table-cell;
    width: 50%;
    background: url(#{$basePath}1.jpg) no-repeat;
    background-size: cover;
    @include susy-breakpoint(1024px, $susy, ".no-mq") {
      display: none;
    }
  }
}

.login-form {
  height: 100%;
  display: table;
  table-layout: fixed;
  width: 100%;
  .form {
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
    .form__inner {
      padding: 0 20%;
      width: 100%;
      @include susy-breakpoint(1024px, $susy, ".no-mq") {
        padding: 0 5%;
      }
    }
  }
}

.validation-message {
  color: $clr-red;
  font-size: 13px;
  display: block;
  margin:5px 0 0;
}
