$nav-gray: #eef0f2;
.nav {
  float: right;

  .nav__link {
    font-weight: 400;
    border-left: 1px solid #ebebeb;
   // text-transform: capitalize;
    text-align: center;
    font-size:14px;
    position: relative;
    display: inline-block;
    @include transition();
    outline: none;

    a {
      display: block;
      padding:7px 12px;
      color: #969dab;
      outline: none;
      border-radius: 3px;
      @include transition();
      cursor: pointer;

      &:hover {
        color: $clr-pri;
      }
    }

    &.active {
      a {
        color: $white;
        background: $clr-pri;
      }
    }
  }
}
