.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  li {
    display: inline;
    text-align: center;
  }
  a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    background: $clr-pri;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
    margin: 0 5px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    @include border-radius(100%);
    background-color:$clr-pri;
    &.prev {
      @include border-radius(50px 0 0 50px);
      width: 100px;
    }
    &.next {
      @include border-radius(0 50px 50px 0);
      width: 100px;
    }
    &:hover {
      background-color: darken($clr-pri, 8%);
    }
    &.active,
    &:active {
      background-color: darken($clr-pri, 15%);
    }
  }
}

